{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Comatible" content="IE=edge">
        <title>Navbar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/node_modules/bootstrap/compile/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/gallery.theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/gallery.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/stilo2.css' %}">
        
        <title>{% block  title %}{% endblock %}</title>
          <link
                href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
                rel="stylesheet"
            />
    </head>
    <body>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="logo">
                    <a href="#" class="nav-link">
                        <span class="link-text logo-text">minis</span>
                        <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fad"
                            data-icon="angle-double-right"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512"
                            class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
                        >
                            <g class="fa-group">
                                <path
                                    fill="currentColor"
                                    d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                                    class="fa-secondary"
                                ></path>
                                <path
                                    fill="currentColor"
                                    d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                                    class="fa-primary"
                                ></path>
                            </g>
                        </svg>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="carrinho" class="nav-link">
                        <img align="center" src="https://ik.imagekit.io/VictorParavatti/icons8-carrinho-de-compras-carregado-40_IaKyFoUiv.png">
                        <span class="link-text">Carrinho</span>
                    </a>
                </li>
                <li class="nav-item" id="themeButton">
                    <a href="#" class="nav-link">
                        <img align="center" src="https://ik.imagekit.io/VictorParavatti/icons8-login-arredondado-_-direita-40_1R9A2vK6U.png">                
                        <span class="link-text">Login</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div id="carousel" class="carousel" data-ride="carousel">
            <div class="carousel-inner">
                <div="carousel-item active">
                    <img src="https://ik.imagekit.io/VictorParavatti/2_017mPOIiW.png" class="img-fluid d-block">
                </div>

                <div="carousel-item">
                    <img src="https://ik.imagekit.io/VictorParavatti/1_Cq7ZbsPI4.png" class="img-fluid d-block">
                </div>

                <div="carousel-item">
                    <img src="https://ik.imagekit.io/VictorParavatti/3_ahSeM2FPjU.png" class="img-fluid d-block">
                </div>
            </div>
        </div>                
    </body>
</html>
