{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/compile/bootstrap.css'%}"> 
    <link rel="stylesheet" href="{% static 'node_modules/css/perso.css' %}"> 
    <title>Login</title>
</head>
<body>
    <div class=" container">
        <div class="row">
            <div class="mt-5 col-12 text-center my-5">
                <div class="mt-5 display-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                        <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                      </svg>
                    <h1> Login</h1>
                    <div class="mt-5 d-flex justify-content-center form_container">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p}}
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
                                          </svg>
                                    </span>
                                </div>
                                <input type="text" name="" class="form-control input_user" value="" placeholder="Usuario">
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                                            <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                        </svg>
                                    </span>
                                </div>
                                <input type="password" name="" class="form-control input_pass" value="" placeholder="Senha">
                            </div>
                            <div class=" mb-0 form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customControlInline">
                                    <label class="custom-control-label" for="customControlInline">
                                        <h5>Lembrar-me</h5>
                                    </label>
                                </div>
                            </div>
                                <div class="d-flex justify-content-center  login_container">
                                    <button type="button" name="button" class=" btn-success login_btn">
                                        <h5>Login</h5>
                                    </button>
                                </div>
                        </form>
                    </div>
            
                    <div class="mt-5">
                        <div class="d-flex justify-content-center links">
                            <h5>Voce não tem uma conta ?</h5> <a href="/cadastro" class="ml-2">
                                <h5>Cadastre-se</h5>
                            </a>
                        </div>
                        <div class="d-flex justify-content-center links">
                            <a href="#">
                                <h5>Não lembra a sua senha ?</h5>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        
    </div>


</body>
</html>
